.container-gif {
  margin-top: 5rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 210px;
  grid-auto-flow: row dense;
  gap: 1rem;
  align-items: center;
  break-inside: avoid;
  grid-template-rows: auto;
  position: relative;
}
img {
  object-fit: cover;
  height: inherit;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition: 1000ms;
}

img:hover {
  transition: 1000ms;
  opacity: 0.6;
}

.gif-card {
  height: 100%;
}

.gif-link {
  height: 100%;
  position: relative;
}

.gif-title {
  font-size: 1.5rem;
  text-align: center;
}
/* Desktop */
@media (min-width: 1024px) {
  .gif-card:nth-child(8n + 1) {
    grid-column-end: span 2;
    grid-row-end: span 2;
  }
  .gif-card:last-child {
    grid-column-end: span 1;
    grid-row-end: span 2;
  }
}
