@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
.container-upload {
  /* background-image: url(https://4kwallpapers.com/images/wallpapers/macbook-pro-apple-m1-multicolor-pink-glossy-stock-5k-1920x1080-4039.jpg); */
}
.upload {
  font-family: "Nunito", sans-serif;
  background: linear-gradient(
    45deg,
    rgb(97, 87, 255) 0%,
    rgb(0, 204, 255) 100%
  );
}
.upload h1 {
  font-size: 3rem;
}

.gif-icon {
  background: rgba(236, 236, 236, 0.1);
  margin-top: 3rem;
  border-radius: 8px 8px 8px 8px;
}
.box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}
.upload-gifs{
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  justify-items: center;
}

.gif-url{
  grid-column-end: span 2;
  grid-row-end: span 1;
}
/* START: file input select */

.file-select {
  position: relative;
  display: inline-block;
}

.file-select::before {
  background-color: #91a9ff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.file-select input[type="file"] {
  opacity: 0;
  display: inline-block;
}

#src-file1::before {
  content: "Choose File";
}
/* END: file input select */
